<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Blog Posts</h1>

        <form>
            <label for="blog_title">Blog title</label>
            <input type="text" id="blog_title" name="blog_title" />
            <br />
            <label for="blog_body">Content</label>
            <textarea id="blog_body" name="blog_body" rows="4" cols="50"> </textarea>
            <br />
            <button type="submit">Submit</button>
        </form>

        {% if posts %} {% for post in posts%}
        <div>
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </div>
        {% endfor %} {% else %}
        <h5>No posts</h5>
        {% endif %}
    </body>
</html>
